.footer{
  height: 30px;
  width: 100%;
  background-color: gray;
  margin-top: auto;
  .copyright{
    color: white;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 30px;
  }
}
