#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#show-mask{
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}


.show-main{
  height: 700px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

  .show-post{
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-post{
      width: 550px;
      height: 550px;
    }
  }
  .show-comment{
    background-color: white;
    width: 300px;
    height: 600px;
    position: relative;
    .comments, a{
        margin: 15px;
      &__text{
        width: 90%;
        background-color: #e6e6e6;
        padding: 5px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .comment-form{
      position: absolute;
      bottom: 20px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      form, input, textarea {
        width: 100%;
        padding: 5px;
        resize: none;
      }
      #send-btn{
        border-radius: 4px;
        color: #fff;
        background-color: rgb(59,203,205);
      }
    }
  }
}

.cp_hr02 {
	border-width: 1px 0 0 0;
	border-style: dashed;
  border-color: gray;
  margin-bottom: 5px;
}