* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.header{
  height: 50px;
  width: 100%;
  background-color: #F7F6EB;
  width: 100%;
  display: flex;
  align-items: center;
  .logo{
    display: flex;
    align-items: center;
  }
  .login{
    position: absolute;
    right: 30px;
  }
}
.nav{
  height: 100px;
  width: 100%;
  .nav-menu{
    height:50px;
    background-color:#F6F5F6;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
        li{
          float: left;
          padding:0 10px;
          line-height: 50px;
        }
    }
  }
  .nav-month{
    height: 50px;
    background-color: #f1faee;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
        li{
          float: left;
          padding:0 10px;
          line-height: 50px;
        }
    }
  }
}

.container{
  background-color: #F6FBF6;
  max-width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  
  .media-thumbnails{
  }
  .content_post{
    height: 150px;
    width: 150px;
    border: solid 5px;
    background-size: cover;
    display: block;
    float: left;
    padding: 5px;
    border: 1px #e5e5e5 solid;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
.footer{
  height: 30px;
  width: 100%;
  background-color: gray;
  position: relative;
  // position: absolute;
  // bottom: 0;
  .copyright{
    color: white;
    font-size: 11px;
    letter-spacing: 0.05em;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#modal_open{
  cursor: pointer;
}

#mask{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#mask.aaa{
  display: none;
}

#modal_content{
  height: 150px;
  width: 150px;
  background-size: cover;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#modal_content.aaa{
  display: none;
}

.logo-icon{
  width: 100px;
  height: 50px;
  .fa-images:before{
    width: 100px;
    height: 50px;
  }
}
