* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-feature-settings: "palt";
  outline: none;
}

.header{
  height: 60px;
  width: 100%;
  background-color: orange;
  padding: 0 50px;
  position: relative;
  &__logo{
    position: relative;
    img{
      position: absolute;
    }
  }
  &__lists{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-left: auto;
    &--list {
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: white;      
    }
  }
}


.nav{
  height: 100px;
  width: 100%;
  .nav-menu{
    height:50px;
    background-color:#F6F5F6;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
        li{
          float: left;
          padding:0 10px;
          line-height: 50px;
        }
    }
  }
  .nav-month{
    height: 50px;
    background-color: #f1faee;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
        li{
          float: left;
          padding:0 10px;
          line-height: 50px;
        }
    }
  }
}

.pickup-container{
  height: 200px;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px gray;
  display: flex;
  justify-content: space-around;
  .box1{
    height: 100%;
    width: 33%;
    background-color: red;
  }
  .box2{
    height: 100%;
    width: 33%;
    background-color:blue;
  }
  .box3{
    height: 100%;
    width: 33%;
    background-color:green;
  }
}

.container{
  background-color: #F6FBF6;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  
  .media-thumbnails{
  }
  .content_post{
    height: 200px;
    width: 200px;
    border: solid 5px;
    background-size: cover;
    display: block;
    float: left;
    padding: 5px;
    border: 1px #e5e5e5 solid;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
.footer{
  height: 30px;
  width: 100%;
  background-color: gray;
  position: fixed;
  .copyright{
    color: white;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 30px;
  }
}



// #modal_open{
//   cursor: pointer;
// }

// #mask{
//   background: rgba(0, 0, 0, 0.4);
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
// }

// #mask.aaa{
//   display: none;
// }

// #modal_content{
//   height: 150px;
//   width: 150px;
//   background-size: cover;
//   position: absolute;
//   top: 40px;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
// }
// #modal_content.aaa{
//   display: none;
// }

