@import "reset";
@import "modules/index";
@import "modules/new-post";
@import "modules/show";
@import "devise";
@import "devise-login";
@import "users";

@import 'font-awesome';


* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-feature-settings: "palt";
  outline: none;
}